input{
	background-color: #fff;
	height: 26px;
	line-height: 26px;
	outline-style: none;
	vertical-align:middle;
	border: 1px solid #aaa;
}
input[type=button]:hover{
	background-color: #ddd;
}
input[type=button]:active{
	background-color: #ccc;
}
input[type=file]{
	display: none;
}
table{
	margin-left: -2px;
	text-align: center;
	width: 100%;
}
table thead tr td{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #999;
	border-left: 1px dashed #aaa;
}
table tbody tr td{
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px dashed #aaa;
	border-bottom: 1px solid #ddd;
	position: relative;
}
table tbody tr td .download:hover{
	background: url(../img/download-0.png) no-repeat;
	background-size: cover;
}
table tbody tr td #manage{
	position: absolute;
	left: 6px;
	top: 3px;
}
table tbody tr td #manage img{
	width: 18px;
	height: 20px;
	background-size: contain;
}
table .filesize{
	text-align: right;
}
#seldir{
	width: 82px;
}
#dir{
	position: absolute;
	border: 1px solid #aaa;
	height: 48px;
	width: 80px;
	display: none;
}
#dir span{
	height: 24px;
	width: 100%;
	line-height: 24px;
	float: left;
	text-align: center;
	font-size: 10px;
	cursor: default;
	background-color: #fff;
}
#dir span:hover{
	background-color: #ddd;
}
#dir span:active{
	background-color: #ccc;
}
#txtfile{
	padding-left: 12px;
}

#selfile{
	*width: 380px;
	width: 1000px;
	height: 500px;
	overflow: scroll;
	border: 1px solid #aaa;
	margin-top: 10px;
}
